﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/animate.css" type="text/css">
    <link rel="stylesheet" href="/Content/templatemo_misc.css" type="text/css">
    <link rel="stylesheet" href="/Content/templatemo_style.css" type="text/css">
    <link rel="stylesheet" href="~/Content/mystyle.css" type="text/css">
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>

    @RenderSection("Scripts")
</head>
<body onLoad="loadTables()">
    @RenderSection("Body")
</body>
</html>